<!DOCTYPE html>
<html>
<style>

  table {
  border-collapse: collapse;
  width: 100%;
  font-family: arial, sans-serif;
}

th, td {
  text-align: center;
  padding: 8px;
}

thead{
    border: 1px solid #F8F8F8;
    text-align: center;
    padding: 10px;
    background-color: #E0E0E0;
}

H1{
    text-align:center;
    font-family: arial, sans-serif;
    color: #0E73B9;
}
html{
    height: 100%;
    display: table;
    margin: auto;
}
body{
   
}

tbody:nth-child(odd) {background-color: #f2f2f2; text-align: center}

</style>

<head>
	{% load static %}
	<title>Presentation Times</title>
    <link rel="shortcut icon" href="{% static 'images/Trinity Favicon.ico' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/presentationtimes.css'%}" >
     <div style = "margin-left:-1vw;margin-top:-1vh;height:8vh;width:102vw;background-color:#0E74B8">
                <div style = "height:100%;width:15%;float:left;position:relative">
                    <div style = "text-align:center;margin: 0;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);">
						<div style = "position:relative;height:100%;width:100%;font-size:1.6em;color:white">Presentation Times</div>
					</div>
                </div>
                <div style = "height:100%;width:60%;float:left;">
                    
                </div>
                <div style = "height:100%;width:10%;float:left;position:relative">
                    <div style = "text-align:center;margin: 0;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);">
						<div style = "position:relative;height:100%;width:100%;font-size:1.25em;color:white"></div>
					</div>
                </div>
                <div style = "height:100%;width:10%;float:left;position:relative">
                    <div style = "text-align:center;margin: 0;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);">
						<div style = "position:relative;height:100%;width:100%;font-size:1.25em;color:white"><a style = "color:white;text-decoration:none" href = "/marking/">Back</a></div>
					</div>
                </div>
            </div>
</head>
<body>
    <div style = "width:1024px;margin:auto">

    <H1>Upcoming Presentations</H1>
 <table>
        <thead >
            <tr>
                <th> Date: </th>
                <th> Time: </th>
                <th> Title:</th>
                <th>ProjectID:</th>
                <th>Supervisor:</th>
                <th>StudentID:</th>
                <th> Reader One Mark:</th>
                <th>Reader Two Mark:</th>
            </tr>
        </thead>

        {% for project in upcoming_presentations %}
        <tbody >
            <tr >
                <td>{{ project.demodate }} </td>
                <td> {{ project.demotime }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.projectid }} </td>
                <td> {{ project.supervisor }}</td>
                <td> {{ project.student }} </td>
                <td> {{ project.readerOneMark }}</td>
                <td> {{ project.readerTWoMark }}</td>

            </tr>
        </tbody>
        {% endfor %}
    </table>

 <H1>Past Presentations</H1>
    <table>
        <thead >
            <tr>
                <th> Date: </th>
                <th> Time: </th>
                <th> Title:</th>
                <th>ProjectID:</th>
                <th>Supervisor:</th>
                <th>StudentID:</th>
                <th> Reader One Mark:</th>
                <th>Reader Two Mark:</th>
            </tr>
        </thead>

        {% for project in past_presentations %}
        <tbody >
            <tr >
                <td>{{ project.demodate }} </td>
                <td> {{ project.demotime }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.projectid }} </td>
                <td> {{ project.supervisor }}</td>
                <td> {{ project.student }} </td>
                <td> {{ project.readerOneMark }}</td>
                <td> {{ project.readerTWoMark }}</td>

            </tr>
        </tbody>
        {% endfor %}
    </table>
    </body>
</body>
</html>
